{{ partial "head.html" . }}

  <section class="hero">
    <div class="inner">
      <h1>Haz crecer tu pensión, con transparencia, participación e inversión ética de tus fondos.</h1>
      <div class="calltoaction">
        <a class="button cta" href="#">Participa</a>
      </div>
    </div>
  </section>

  <section class="explain">

    <div class="inner">        

      <div class="col">
        <img src="/images/afpcolectiva__icon-01.svg" alt="">
        <h6>Seriedad</h6>
        <p>Trabajamos con la misma seriedad que a toda AFP se le exige para invertir tus fondos.</p>
      </div>

      <div class="col">
        <img src="/images/afpcolectiva__icon-03.svg" alt="">
        <h6>Utilidades</h6>
        <p>Las utilidades llegan a quienes invirtieron en ella, los cotizantes y la sociedad entera.</p>
      </div>

      <div class="col">
        <img src="/images/afpcolectiva__icon-02.svg" alt="">
        <h6>Rentabilidad</h6>
        <p>Logramos la mayor rentabilidad de mercado cumpliendo con toda regulación.</p>
      </div>
    </div>
    
    <div class="inner">
      <div class="promise">
        <i>✊</i> 
        <h3 class="h3">No invertimos tu dinero en empresas con mala reputación<br><small>Promesa</small></h3>
      </div>
    </div>

  </section>
  <section class="crowdfunding">
    <div class="inner">
      <small><b>Crowdfunding</b> l El tiempo apremia</small>
      <h2 class="h2">A fines de Septiembre presentaremos el proyecto AFP Colectiva ante la Superintendencia de Pensiones y necesitamos imperiosamente de tu aporte económico y participación para:</h2>
      <ul>
        <li>Lograr la autorización de la superintendencia de Pensiones </li>
        <li>Elaboración técnica del proyecto </li>
        <li>Presentación de proyecto</li>
      </ul>
      <a href="#" class="button">Ver Campaña</a>
    </div>
  </section>
  <section class="todos">
    <div class="inner">
      <i>✍</i>
      <h2>Se parte de la solución y no del problema</h2>
      <p>
        Esta es la primera vez que <b>la propia ciudadanía</b>, desde una iniciativa colectiva y participativa, puede hacerse cargo de cambiar el rumbo del sistema de pensiones.</p>
    </div>
  </section>
  <section class="newsletter">
    <div class="inner">
      <form id="newsletter" name="newsletter" action="newsletter" data-netlify="true" netlify-honeypot="bot-field">
        <i>💌</i>
        <h2>Mantente informado. Inscríbete en nuestro boletín para recibir información sobre nuestro proyecto</h2>
        <fieldset>
          <input placeholder="Nombre" name="name" type="text" tabindex="1" required >
        </fieldset>
        <fieldset>
          <input placeholder="Email" type="email" tabindex="2" name="email" required>
        </fieldset>
        <fieldset>
          <button class="button" name="submit" type="submit" id="newsletter-submit" data-submit="...Enviando">Enviar</button>
        </fieldset>
      </form>
    </div>
  </section>

{{ partial "footer" . }}




